1. (a) Generate frequent itemsets from the given dataset. [5 pts + 5 pts]
   (b) Derive association rules from the given dataset.

Given: minimum support threshold: 4%, minimum confidence: 50%

Dataset: https://docs.google.com/spreadsheets/d/1C9hTpY44yAiXiJJklGnoSu_eo8iBXjCg/edit?usp=sharing&ouid=104308704328169830524&rtpof=true&sd=true

As before, please send the python notebook for the evaluation.

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import matplotlib.pyplot as plt
df = pd.read_csv('bread.csv')
df.head()
df['Item'] = df['Item'].str.strip()

            Date,Time,Transaction,Item
0          2016-10-30,09:58:11,1,Bread
1   2016-10-30,10:05:34,2,Scandinavian
2   2016-10-30,10:05:34,2,Scandinavian
3  2016-10-30,10:07:57,3,Hot chocolate
4            2016-10-30,10:07:57,3,Jam

In [5]:
df.describe()

             Date,Time,Transaction,Item
count                             21293
unique                            19640
top     2017-02-19,11:46:55,6850,Coffee
freq                                  4

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21293 entries, 0 to 21292
Data columns (total 1 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date,Time,Transaction,Item  21293 non-null  object
dtypes: object(1)
memory usage: 166.5+ KB

In [7]:
#Missing values part :
#get no. of missing data points per column if any

missing_values_count = df.isnull().sum()

#checking the missing values in all columns if any
missing_values_count[0:4]

Date,Time,Transaction,Item    0
dtype: int64